.container {
  background-color: #FFFFFF;
  width: 500px;
  height: 60px;
  padding: 20px 35px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.left {
  display: flex;
  align-items: center;
  gap: 28px;
}

.time {
  color: gray;
  font-size: 10px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}