<div class="actions">
  <app-input-box placeHolder="Search..." [value]="searchTerm"
    (valueChange)="handleSearchChange($event)"></app-input-box>
  <app-drop-down title="Sort" [options]=sortOptions [value]="selectedSort" (onSelect)="handleSortSelect($event)"
    icon="../../../assets/sort.svg"></app-drop-down>
  <app-drop-down title="Filter" [options]=filterOptions [value]="selectedFilter" (onSelect)="handleFilterSelect($event)"
    icon="../../../assets/filter.svg"></app-drop-down>
  <a routerLink="/new">
    <app-button text="New"></app-button>
  </a>
</div>

<div class="items">
  @for (todo of (todo$ | async); track todo.id) {
  <app-item [todo]="todo"></app-item>
  }
</div>