/* You can add global styles to this file, and also import other style files */
html {
  background-color: #2d2d2d;
}

body {
  font: 16px Arial, sans-serif;
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

h2 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
}

input {
  outline: none;
  box-sizing: border-box;
}

.input-container,
.text-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;

  label {
    color: #ffffff;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  input,
  textarea {
    margin: auto;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
  }
}

.text-box-container {
  textarea {
    height: 100px;
  }
}